[% firstName %],

Thank you for submitting your resume in response to our jobs.perl.org listing.  At this time, we are going to review all our domestic resumes before moving on to consider international candidates.  We will definitely consider international candidates for our telecommuting positions, but since it involves additional considerations (e.g. different timezones, etc), we want to look at the domestic pool first.

Thank you for your interest, and we will keep your resume on file.


		-- Buddy Burden, senior architect
