     To: [% email %]
	 CC: [% HR.email %]
[% IF Recruiter -%]
	 CC: "[% Recruiter.Contact %]" <[% Recruiter.Email %]>
[% END -%]
Subject: [% name %]: [% display_position %] (take-home test)


[% firstName %],

Great to talk to you today!  Here's the take-home test we talked about.  Let me know if you have any questions.


Thanks.


		-- [% Config.name %]
