screen -t timer
	stuff "mkdir -p ~/local/log/vimkeys >& /dev/null ; cd timer\015"
	stuff "vi -W ~/local/log/vimkeys/timer.keys -u ~/.vim-timer timer-new\015"
	sleep 1
	stuff ":call FindCurrent()\015zz"
